.amaanat-users {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: red;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}