*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colour-background: #878787;
  --colour-lsp-found-items: #12A592;
  --colour-lsp-lost-items: #3C87CD;
  --colour-amaanat: #FFB347;
  --colour-button-active: #3E8914;

  background: var(--colour-background);
  font-family: 'Karla', sans-serif;
}

input {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  margin: 1rem 0 1rem;
}

nav {
  border-radius: 10px;
  margin-top: 1rem;
}

.go-back {
  background-color: red;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
}

form {
  margin: 1rem;
}
