*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colour-background: #878787;
  --colour-lsp-found-items: #12A592;
  --colour-lsp-lost-items: #3C87CD;
  --colour-amaanat: #FFB347;
  --colour-button-active: #3E8914;

  --font-size-normal: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;

  background: var(--colour-background);
  font-family: 'Karla', sans-serif;
}

input {
  padding: 0.5rem;
  border-radius: 10px;
  font-family: 'Karla', sans-serif;
  margin: 1rem 0 1rem;
}

nav {
  border-radius: 10px;
  margin-top: 1rem;
}

.go-back {
  background-color: red;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1rem;
}

form {
  margin: 1rem;
}

p {
  font-size: var(--font-size-normal);
}

a {
  font-size: var(--font-size-normal);
}

button {
  font-size: var(--font-size-normal);
}

input {
  font-size: var(--font-size-normal);
}
