*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background: grey;
  font-family: 'Karla', sans-serif;
}

input {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  margin: 1rem 0 1rem;
}

nav {
  border-radius: 10px;
  margin-top: 1rem;
}

.go-back {
  background-color: red;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
}

form {
  margin: 1rem;
}
