.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.navbar-item {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  border: 1px solid black;
}

.active {
  background-color: var(--colour-button-active);
}