.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem;
}
.navbar-item {
  text-decoration: none;
  text-align: center;
  color: black;
}

.active {
  background-color: var(--colour-button-active);
}
